{% {% extends "base.html" %} %}

{% block title %}
Create Project | DevMaster
{% endblock title %}


{% block body %}

<form action="/loginview/" method="post">
        {% csrf_token %}


{% comment %} fproject_name
fproject_description
fcreated_by
fproject_created_time
fproject_gtihub_link
fproject_phase {% endcomment %}
        <label for="fproject_name">User Name: </label>
        <input type="text" name="fproject_name" id="fproject_name">
        <br>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password">
        <br>
        <input type="submit" value="Submit">
    </form>

{% endblock body %}