{% extends "base.html" %}

{% block title %}
Dashboard | DevMaster
{% endblock title %}





{% block body %}

<p>Dashboard</p>
<span>Hello {{username}}</span>
<a href={% url 'home:editProfile' %}>
Edit Profile
</a>
<a href={% url 'home:logoutUser' %}>logout</a>

{% if man == 1 %}
{% comment %} createProject {% endcomment %}
<a href={% url 'home:createProject' %}>
Create project

    </a>

{% endif %}


<div class="container">
    <div class="left">
        <ul>
            {% for i in mem_projects %}
            {% comment %} href to project announcements {% endcomment %}
           <a href= "{% url 'home:projects' i.project_id %}" > <li>{{i.project}} {{i.project_id}}</li></a>
            {% endfor %}
        </ul>
    </div>

    <div class="right">
        <p>Announcements</p>
        <ul>
            {% if anno %}
                {% for i in anno %}
                <li>{{i.announcement_msg}}</li>
                {% endfor %}
            {% endif %}
        </ul>
        
    </div>

</div>

{% comment %}
<ul>
    {% for i in id %}
    <li>{{i.name}}</li>
    {% endfor %}
</ul>



<h1></h1>
{% endcomment %}
{% endblock body %}






{% block script %}
{% endblock script %}