{% extends "base.html" %}
{% load static %}
{% block title %}
Members | DevMaster
{% endblock title %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/for.css'%}" />
<style>

    .headi {
        /* background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
           */
        background: rgb(17, 0, 36);
        background: linear-gradient(
          90deg,
          rgba(17, 0, 36, 1) 0%,
          rgba(9, 38, 121, 1) 26%,
          rgba(0, 255, 171, 1) 100%
        );
        align-self: center;
        background-clip: border-box;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        text-align: center;
      
        font-size: 3.5rem;
        font-weight: bold;
      }
      .page_heading{
        text-align: center;
    }

</style>
{% endblock head %}
{% block body %}

<div class="big_container poppins-regular">
<div class="text">
<p class="dev_head"><a href="{% url 'home:home' %}"><img src="{% static 'home/img/devlogo.png'%}" alt="" width = "300px"></a><br>
Orchestrating Software Success, from Start to Finish</p>
<p class="page_heading"><span class="headi"> Members</span></p>
</div>
<div class="page_form">
    {% for i in projManager %}
    <p style="color:#555;">{{i.user_name}}</p>
    {% endfor %}
{% for i in projMembers %}
<p style="color:#555;">{{i.user_name}}</p>
{% endfor %}

  
</div>
</div>
<script>
var dict={
{% for i in projMembers %}
{{i.id}} : "{{i.user_name}}",


{% endfor %}
}
    function conf(ide){
        ide = parseInt(ide);
        console.log(dict[ide]);
        let text = "Are you sure you want to remove " + dict[ide] +" from the project?"
        if(confirm(text) == true){
            del;
        }
        else{
            console.log("not deleted")
        }
    }

</script>





        

{% endblock body %}