{% extends "base.html" %}
{% block title%}
Edit Profile | DevMaster
{% endblock title %}
{% block body %}
<div>
    <form action="/editProfile/" method="post">
        {% csrf_token %}
        <label for="full_name">Full Name: </label>
        <input type="text" name="full_name" id="full_name" value = {{user.name}}>
        <br>
        <label for="user_name">User Name: </label>
        <input type="text" name="user_name" id="user_name" value = {{user.user_name}}>
        <br>
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" value = {{user.email}}>
        <br>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" value = {{user.password}}>
        <br>
        <label for="status_of_account">Status of Account: </label>
        <input type="text" name="status_of_account" id="status_of_account" value = {{user.status_of_account}}>
        <br>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock body %}
