{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | DevMaster</title>
	
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css'%}" />

  </head>
  <body class="poppins-regular">
    <!-- Hero -->
    <div class="hero">
      <nav class="navbar">
        <div class="brand-title">
          <ul><li style = "list-style: none;"><a href="index.html">
            <img src="{% static 'home/img/whitedevlogo.png'%}" width="150px" alt="logo" style = "margin-top:10px;"
          /></a></li></ul>
          
        </div>
        <a href="#" class="toggle-button">
          <span class="bar"> </span>
          <span class="bar"> </span>
          <span class="bar"> </span>
        </a>
        <div class="navbar-links">
          <ul>
            {% if usern == "notLoggedIn" %}
            <li><a href="{% url 'home:loginview' %}">Login</a></li>
            <li><a href="{% url 'home:signup' %}">Register</a></li>
            {% else %}
            <li><a href = "{% url 'home:dashboard'%}">Hello {{ usern }}</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <div>
        <p id="hero-heading">
          Orchestrating Software Success, from Start to Finish
        </p>
      </div>
    </div>
    <!-- Content -->
    <div class="content_container">
      <div class="content">
        <div class="im">
          <img src="{% static 'home/img/tsimg.jpg'%}" alt="" class="imgs" />
        </div>
        <div class="text">
          <p class="head_para"> <span class ="headi">Use LLM</span></p>
          <p class = "para">Solve your queries with the power of generative AI and simplify your workflow.
            <br>
            <span><a href="{% url 'home:signup' %}" style=" text-decoration: none;color: rgb(82, 79, 79);">Try Now →</a></span>
          </p>
        </div>
      </div>

      <div class="content">
        <div class="text">
          <p class="head_para"> <span class ="headi">Use Chat</span></p>
          <p class = "para">Easily Communicate with all your team members using the chat feature.<br>
            <span><a href="{% url 'home:signup' %}" style=" text-decoration: none;color: rgb(82, 79, 79);">Try Now →</a></span>
          </p>
        </div>
        <div class="im">
          <img src="{% static 'home/img/tsimg.jpg'%}" alt="" class="imgs" />
        </div>
      </div>

      <div class="content">
        <div class="im">
          <img src="{% static 'home/img/tsimg.jpg'%}" alt="" class="imgs" />
        </div>
        <div class="text">
          <p class="head_para"> <span class ="headi">Assign Sprint</span></p>
          <p class="para">Assign tasks such as sprints, bug tickets and/or review tasks to the developers.<br>
            <span><a href="{% url 'home:signup' %}" style=" text-decoration: none;color: rgb(82, 79, 79);">Try Now →</a></span>
          </p>
        </div>
      </div>
    </div>




    <div class="footer">
        
        Unlock the full potential of your productivity
    </div>
  </body>
</html>
