{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home | DevMaster</title>

  <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css'%}" />

</head>

<body class="poppins-regular">
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  <!-- Hero -->
  <div class="hero">
    <nav class="navbar">
      <div class="brand-title">
        <ul>
          <li style="list-style: none;"><a href="index.html">
              <img src="{% static 'home/img/whitedevlogo.png'%}" width="150px" alt="logo"
                style="margin-top:10px;" /></a></li>
        </ul>

      </div>
      <a href="#" class="toggle-button">
        <span class="bar"> </span>
        <span class="bar"> </span>
        <span class="bar"> </span>
      </a>
      <div class="navbar-links">
        <ul>
          {% if usern == "notLoggedIn" %}
          <li><a href="{% url 'home:loginview' %}">Login</a></li>
          <li><a href="{% url 'home:signup' %}">Register</a></li>
          {% else %}
          <li><a href="{% url 'home:dashboard'%}">Hello {{ usern }}</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div>
      <p id="hero-heading">
        Orchestrating Software Success, from Start to Finish
      </p>
    </div>
  </div>




  <svg id="wave" style=" transition: 0.3s" viewBox="0 0 1440 490" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="5%" x2="0" y1="1" y2="0"><stop stop-color="rgba(54.242, 193.847, 193.847, 1)" offset="0%"></stop><stop stop-color="rgba(34, 33, 90, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,192L48,165.3C96,139,192,85,288,85.3C384,85,480,139,576,186.7C672,235,768,277,864,277.3C960,277,1056,235,1152,229.3C1248,224,1344,256,1392,272L1440,288L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
    <!-- Content -->
  <div class="content_container">
    <div class="content">
      <div class="im">
        <img src="{% static 'home/img/llm.png'%}" alt="" class="imgs" />
      </div>
      <div class="text">
        <p class="head_para"> <span class="headi">Use LLM</span></p>
        <p class="para">Solve your queries with the power of generative AI and simplify your workflow.
          <br>
          <span><a href="{% url 'home:signup' %}" style=" text-decoration: none;color: rgb(82, 79, 79);">Try Now
              →</a></span>
        </p>
      </div>
    </div>

    <div class="content">
      <div class="text">
        <p class="head_para"> <span class="headi">Use Chat</span></p>
        <p class="para">Easily Communicate with all your team members using the chat feature.<br>
          <span><a href="{% url 'home:signup' %}" style=" text-decoration: none;color: rgb(82, 79, 79);">Try Now
              →</a></span>
        </p>
      </div>
      <div class="im">
        <img src="{% static 'home/img/chat.png'%}" alt="" class="imgs" />
      </div>
    </div>

    <div class="content">
      <div class="im">
        <img src="{% static 'home/img/sprint.png'%}" alt="" class="imgs" />
      </div>
      <div class="text">
        <p class="head_para"> <span class="headi">Assign Sprint</span></p>
        <p class="para">Assign tasks such as sprints, bug tickets and/or review tasks to the developers.<br>
          <span><a href="{% url 'home:signup' %}" style=" text-decoration: none;color: rgb(82, 79, 79);">Try Now
              →</a></span>
        </p>
      </div>
    </div>
  </div>




  {% comment %} <div class="footer" style="display:hidden;">

    Unlock the full potential of your productivity
  </div> {% endcomment %}
  <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
      style="margin-bottom: 0; display: block"
    >
      <path
        fill="rgb(159, 194, 188)"
        fill-opacity="1"
        d="M0,192L48,170.7C96,149,192,107,288,96C384,85,480,107,576,122.7C672,139,768,149,864,154.7C960,160,1056,160,1152,149.3C1248,139,1344,117,1392,106.7L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      ></path>
    </svg>
  <div class="footer">
    <div></div>
    
    <div class="socials">

      <img src="{% static 'home/img/fb.svg'%}" width="60px" alt="logo" style="margin-top:1px;cursor: pointer;"
        onclick="myfunc()" />
        <img src="{% static 'home/img/ins.svg'%}" width="60px" alt="logo" style="margin-top:1px;cursor: pointer;"
        onclick="myfunc()" />
        <img src="{% static 'home/img/lin.svg'%}" width="60px" alt="logo" style="margin-top:1px;cursor: pointer;"
        onclick="myfunc()" />
        <img src="{% static 'home/img/twi.svg'%}" width="60px" alt="logo" style="margin-top:1px;cursor: pointer;"
        onclick="myfunc()" />
    
    </div>
  </div>

</body>

</html>