{% extends "base.html" %} {% load static %} {% block title %} LLM | DevMaster {%endblock title %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/llm.css'%}" />

<style>
  .headi {
    /* background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
           */
    background: rgb(17, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(17, 0, 36, 1) 0%,
      rgba(9, 38, 121, 1) 26%,
      rgba(0, 255, 171, 1) 100%
    );
    align-self: center;
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;

    font-size: 3.5rem;
    font-weight: bold;
    margin-top: 0px;
  }

  .page_heading {
    text-align: center;
  }
  #myModal input {
    width: 30vw;
    height: 3rem;
    border-radius: 5px;
    font-size: 1rem;
  }
  #myModal {
    font-size: 1.5rem;
  }
  #myModal textarea {
    width: 30vw;
    height: 30vh;
    border-radius: 5px;
  }


*{
  ::-webkit-scrollbar{
    width:15px;
  }
  ::-webkit-scrollbar-track{
    background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
border-radius: 100vw;
margin-block: .5em;
  }
  ::-webkit-scrollbar-thumb{
    background: rgb(131,58,180);
background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
border-radius: 100vw;
  }
}

  {% comment %} 
  ::webkit-scrollbar{
    width:15px;
  }
  ::webkit-scrollbar-track{
    background:green;
  }
  ::webkit-scrollbar-thumb{
    background:linear-gradient;
  }
  @supports (scrollbar-color: red blue){
    * {
      scrollbar-color:red linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
      scrollbar-color:red blue;
      scrollbar-width:thin;
    }
  } 
  {% endcomment %}
</style>

<script src="{% static 'home/css/llmClass.js'%}" defer></script>
{% endblock head %} {% block body %}

<div class="wholeConatiner">
  <div class="leftBox">
    <div
      class="logo"
      style="
        text-align: center;
        background-color: #394647;
        background-color: #0567e7;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
      "
    >
      <a href="{% url 'home:dashboard' %}">
        <img
          src="{% static 'home/img/whitedevlogo.png'%}"
          width="200px"
          alt="logo"
          style="margin-top: 2.5rem; margin-bottom: 1.5rem"
      /></a>
    </div>
    <!-- <hr id="insiderHR"> -->

    <div class="menuList">
      <ul>
        <li><a href="{% url 'home:projects' iden %}"> Announcements</a></li>
        <li><a href="{% url 'home:chat' iden %}">Chat</a></li>
        <li class="current"><a href="{% url 'home:llm' iden %}">LLM</a></li>
        <li><a href="{% url 'home:sprint' iden %}">Sprint</a></li>
        <li><a href="{% url 'home:bug' iden %}">Bug</a></li>
        <li><a href="{% url 'home:review' iden %}">Review</a></li>
        <li><a href="{% url 'home:review' iden %}">Details</a></li>
        <li><a href="{% url 'home:dashboard' %}">All Projects</a></li>
      </ul>
    </div>
  </div>

  <div class="rightBox">
    <div class="dashNav">
      <ul>
        <li style="padding-top: 6px; text-align: right">
          Hello {{username}}
          <span style="margin-left: 2rem; margin-right: 3rem">
            <img
              src="{% static 'home/img/acc_cir.svg'%}"
              width="35px"
              alt="logo"
              style="position: absolute; cursor: pointer"
              onclick="profileSubmenu()"
          /></span>
        </li>
      </ul>
      <div class="submenu hidden" id="profileSubmenu">
        <ul>
          <li class="submenitem">
            <a href="{% url 'home:editProfile' %}">Edit Profile</a>
          </li>
          <li class="submenitem">
            <a href="{% url 'home:logoutUser' %}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <script>
      const btnEl = document.getElementById("profileSubmenu");

      function profileSubmenu() {
        btnEl.classList.toggle("hidden");
        console.log("from submenu");
      }
    </script>
    <div class="projectName">
      <p class="page_heading"><span class="headi"> {{na}}</span></p>
    </div>
    <div class="wholeBox">
      <div class="llmBox" id="riBox">
        {% for i in ldata %}

        <div class="msgFromUser" style="padding: 0rem; margin-top: 0px">
          <p style="margin-bottom: 0px">You:</p>
          <p class="bubble right" style="padding-left: 2.4rem; margin-top: 0px">
            {{i.question_asked}}
          </p>
        </div>

        <div class="msgFromServer" style="padding: 0rem">
          <p style="margin-bottom: 0px">LLM:</p>
          <p class="bubblee left" style="padding-left: 2.4rem; margin-top: 0px">
            {% autoescape off %} {{i.answer_from_api}} {% endautoescape %}
          </p>
        </div>

        {% endfor %}

        <!-- <hr> -->
      </div>
      <div class="inputField">
        <img
          src="{% static 'home/img/settin.svg'%}"
          width="30px"
          alt="logo"
          style="margin-top: 1px; cursor: pointer"
          onclick="Modal()"
        />
        <input type="text" name="inpLLM" id="inpLLM" />
        <!-- <input type="button" value="submit" id="subBut"> -->
        <!-- <button class="btn" id="subBut">Submit</button> -->
        <img
          src="{% static 'home/img/send.svg'%}"
          width="35px"
          alt="logo"
          style="margin-top: 1px; cursor: pointer"
          onclick="llm()"
        />
      </div>
    </div>
  </div>
</div>
<script>
  riBox.scrollTop = 99999999;

  function myfunc() {
    console.log("helloooooo");
  }
</script>

<div
  id="myModal"
  style="
    width: 70vw;
    height: 85vh;
    {% comment %} background-color: #b9f7ed; {% endcomment %}
    backdrop-filter:blur(30px);
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: calc(calc(100vw - 70vw)/2);
    top: calc(calc(100vh - 85vh)/2);
    {% comment %} top:calc((100vh-85vh)/2vh); {% endcomment %}
    {% comment %} top:0px; {% endcomment %}
  
    {% comment %} transform: translate(-50%, -50%); {% endcomment %}
    margin: auto;
    overflow-y: auto;
    border-radius: 20px;
  "
  class="hidden"
>
  <div></div>
  <div style="display: flex; padding-bottom: 2rem;width:60vw;margin:auto;">
    <div>
      <p>clear all</p>
      <label style="font-weight:700;">Project Name:</label>
      <br />
      <input value="{{proj.project_name}}" id="project_name" />
      <br />
      <br />
      <label style="font-weight:700;">Project Description:</label>
      <br />
      <textarea id="project_details">{{proj.project_description}}</textarea>
      <br />
      <br />
      <label style="font-weight:700;">Project Functionalities:</label>

      {% for i in proj_func %}

      <p id="">
      </p>
        <input value="{{i.project_funcionalities}}" >
      {% endfor %}
      <br />
      
    </div>
  </div>
  
</div>

<div style="display: none" ; id="pk">{{iden}}</div>

<script>
  const myModal = document.getElementById("myModal");
  function Modal() {
    myModal.classList.toggle("hidden");
    idk();
  }
</script>

<script>
  
  function idk() {
    le = colle.length;
    let proj_func = []
    for (let i = 0; i < colle.length; i++) {
      proj_func.push(document.getElementById("func_" + i.toString()).value);
    }
    return proj_func;
  }
</script>
<script>
  var url = 'http://127.0.0.1:8000/llm_api/';

  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');





  function llm() {
    var pk = document.getElementById("pk").innerHTML
    var project_name = document.getElementById("project_name").value;
    var project_details = document.getElementById("project_details").innerHTML;
    var quest = "";
    var project_func = idk();
    quest = document.getElementById("inpLLM").value;
    document.getElementById("inpLLM").value = "";
    fetch(url, {
        method: 'POST',
        headers: {
            'Content-type': 'application/json',
            'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({
            'pk': pk,
            'project_name': project_name,
            'project_details': project_details,
            'quest': quest,
            'project_func': project_func
        })


    }).then(response=>response.json())
    .then(data=>{ document.getElementById("riBox").innerHTML += `<div class="msgFromUser" style="padding: 0rem; margin-top: 0px"><p style="margin-bottom: 0px">You:</p><p class="bubble right" style="padding-left: 2.4rem; margin-top: 0px">${quest}</p></div><div class="msgFromServer" style="padding: 0rem"><p style="margin-bottom: 0px">LLM:</p><p class="bubblee left" style="padding-left: 2.4rem; margin-top: 0px">${data}</p></div>` })
    .then(e=> {location.reload()

    }) 
}
</script>

{% endblock body%}
