{% extends "base.html" %}
{% load static %}
{% block title %}
Review | DevMaster
{% endblock title %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/llm.css'%}" />

<style>
    .headi {
        /* background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
           */
        background: rgb(17, 0, 36);
        background: linear-gradient(90deg,
                rgba(17, 0, 36, 1) 0%,
                rgba(9, 38, 121, 1) 26%,
                rgba(0, 255, 171, 1) 100%);
        align-self: center;
        background-clip: border-box;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        text-align: center;

        font-size: 3.5rem;
        font-weight: bold;
        margin-top: 0px;
    }

    .page_heading {
        text-align: center;
    }
</style>
<style>
    .list {
        position: relative;
      }
      .list h2 {
        color: #000;
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 10px;
      }
      .list ul {
        position: relative;
      }
      .list ul li {
        position: relative;
        left: 0;
        color: #333;
        list-style: none;
        margin: 4px 0;
        border-left: 2px solid #002df5;
        transition: 0.5s;
        cursor: context-menu;
        padding-bottom:1rem;
      }
      .list ul li:hover {
        left: 10px;
      }
      .list ul li span {
        position: relative;
        padding: 8px;
        padding-left: 12px;
        display: inline-block;
        
        transition: 0.5s;
      }
      .list ul li:hover span {
        color: #111;
      }
      /* .list ul li:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #6e88fc;
        transform: scaleX(0);
        transform-origin: left;
        transition: 0.5s;
      }
      .list ul li:hover:before {
        transform: scaleX(1);
      } */
</style>
<style>
    .mkdbutt{
        font-size: 1.2rem;
        background-color: rgb(166, 166, 250);
        
        border-radius: 10px;
    }
</style>
{% endblock head %}


{% block body %}

<div class="wholeConatiner">
    <div class="leftBox" >
        <div class="logo" style="text-align: center;background-color: #394647;background-color: #0567e7;border-bottom-left-radius: 35px;border-bottom-right-radius: 35px;">
            <a href="{% url 'home:dashboard' %}">
                <img src="{% static 'home/img/whitedevlogo.png'%}" width="200px" alt="logo"
                    style="margin-top:2.5rem;margin-bottom:1.5rem;" /></a>
        </div>
        <!-- <hr id="insiderHR"> -->

        <div class="menuList">
            <ul>
                <li><a href="{% url 'home:projects' iden %}"> Announcements</a></li>
                <li><a href="{% url 'home:chat' iden %}">Chat</a></li>
                <li><a href="{% url 'home:llm' iden %}">LLM</a></li>
                <li ><a href="{% url 'home:sprint' iden %}">Sprint</a></li>
                <li><a href="{% url 'home:bug' iden %}">Bug</a></li>
                <li class="current"><a href="{% url 'home:review' iden %}">Review</a></li>
                <li><a href="{% url 'home:details' iden %}">Details</a></li>
                <li><a href="{% url 'home:dashboard' %}">All Projects</a></li>

            </ul>

        </div>
    </div>

    <div class="rightBox" >
      <div class="dashNav">
        <ul>
            <li style="padding-top:6px;text-align:right;">Hello {{username}} <span style="margin-left:2rem;margin-right:3rem;">
              <img src="{% static 'home/img/acc_cir.svg'%}" width="35px" alt="logo"
                style="position:absolute;cursor: pointer;"  onclick="profileSubmenu()"/></span></li>
            
        </ul>
        <div class="submenu hidden" id="profileSubmenu">
          <ul>
            <li class = "submenitem"><a href="{% url 'home:editProfile' %}">Edit Profile</a></li>
            <li class = "submenitem"><a href = "{% url 'home:logoutUser' %}">Logout</a></li>
          </ul>
        </div>
    </div>
    <script>
      const btnEl = document.getElementById("profileSubmenu");


      function profileSubmenu(){
        btnEl.classList.toggle("hidden")
        console.log("from submenu")
      }
    </script>
        <div class="projectName">
            <p class="page_heading"><span class="headi"> Auctioneer</span></p>
        </div>
       
        <div class="con" style="width:60vw;margin:auto;padding-top:0rem;">

            <p style="text-decoration:underline;font-size:2rem;margin-top:0px;">Sprint:</p>
            
            <div class="list">
              <ul>
                {% for j in all_project_sprint %}
                {% if j.submitted_time != "" and j.review != "PASS" and j.review != "FAIL"%}
                <li style="display:flex;align-items: center;justify-content: center;" >
                  <span style="display:flex;flex-direction:column;" id="{{j.id}}"  onclick="showModal(this.id)">
                    <span>{{j.sprint_title}}</span>
                    <span style="width:40vw;font-size:1rem;text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">{{j.sprint_detail}}</span>
                  </span>
                  <span style="color:white;text-decoration:none;" id="sprintpass{{j.id}}" onclick="SprintPass(this.id)">
                    <span class="small-btn-grad" style="width:8vw;font-size:0.75rem;color:white;">Pass             
                    </span>
                  </span>
                  <a href="" style="color:white;text-decoration:none;" id="sprintfail{{j.id}}" onclick="SprintFail(this.id)">
                    <span class="fail-btn-grad" style="width:8vw;font-size:0.75rem;color:white;">Fail
                    </span>
                  </a>
                  
                 </li>
                {% endif %}
                {% endfor %}
              </ul>

            </div>
            

            {% comment %} <p style="text-decoration:underline;">Bug:</p>
            {% for i in bug_set_of_members %}
            <p>{{i}}:</p>
            <div class="list">
                <ul>
            {% for j in all_project_bug %}
            {% if i == j.bug_reviewer %}
            <li style="display:flex;justify-content: space-between;"><span>{{j.bug_title}}</span>
               {% comment %} <span class="mkdbutt" >Mark as Done</span>  {% endcomment 
              </li>
            {% endif %}
            {% endfor %}
                </ul>
            </div>
            {% endfor %} {% endcomment %}

            <p style="text-decoration:underline;font-size:2rem;">Bug:</p>
            
            <div class="list">
              <ul>
                {% for j in all_project_bug %}
                
                {% if j.submitted_time != ""  and j.review != "PASS" and j.review != "FAIL"%}
                <li style="display:flex;align-items: center;justify-content: center;" >
                  <span style="display:flex;flex-direction:column;" id="{{j.id}}" onclick="showModal(this.id)">
                    <span>{{j.bug_title}}</span>
                    <span style="width:40vw;font-size:1rem;text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">{{j.bug_detail}}
                    </span>
                  </span>
                  <a href="" style="color:white;text-decoration:none;" id="bugpass{{j.id}}" onclick="BugPass(this.id)">
                    <span class="small-btn-grad" style="width:8vw;font-size:0.75rem;color:white;">Pass
                    </span>
                  </a>
                  <a href="" style="color:white;text-decoration:none;" id="bugfail{{j.id}}" onclick="BugFail(this.id)">
                    <span class="fail-btn-grad" style="width:8vw;font-size:0.75rem;color:white;">Fail
                    </span>
                  </a>
                  {% comment %} <span class="mkdbutt" >Mark as Done</span>  {% endcomment %}
                 </li>
                {% endif %}
                
                {% endfor %}
              </ul>

            </div>

<script>

  var sprint_url = 'http://127.0.0.1:8000/reviewpof/';
  var bug_url = 'http://127.0.0.1:8000/reviewbugpof/';

  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');



















  function SprintPass(ide){
    console.log(ide);
    newide = ide.replace('sprintpass','');
    console.log(newide);

    sprint_url = sprint_url
    if (confirm("Do you want to Proceed with this action ?")){
    fetch(sprint_url, {
      method: 'POST',
      headers: {
          'Content-type': 'application/json',
          'X-CSRFToken': csrftoken,
      },
      body: JSON.stringify({
        'review':"pass",
        "sprintId":newide
      })
  }).then(response=>response.json()
  ).then(data=>console.log(data)).then(e=>location.reload())}
  else{
    console.log("Something Went Wrong");
  }
  
  


  };
  function SprintFail(ide){
    newide = ide.replace('sprintfail','');
    sprint_url = sprint_url
    if (confirm("Do you want to Proceed with this action ?")){
    fetch(sprint_url, {
      method: 'POST',
      headers: {
          'Content-type': 'application/json',
          'X-CSRFToken': csrftoken,
      },
      body: JSON.stringify({
        'review':"fail",
        "sprintId":newide
      })
  
  
  }).then(response=>response.json()
  ).then(data=>console.log(data)).then(e=>location.reload())}
  else{
    console.log("Something Went Wrong");
  }

  };
  function BugPass(ide){
    newide = ide.replace('bugpass','');
    
    if (confirm("Do you want to Proceed with this action ?")){
    fetch(bug_url, {
      method: 'POST',
      headers: {
          'Content-type': 'application/json',
          'X-CSRFToken': csrftoken,
      },
      body: JSON.stringify({
        'review':"fail",
        "BugId":newide
      })
  
  
  }).then(response=>response.json()
  ).then(data=>console.log(data)).then(e=>location.reload())}
  else{
    console.log("Something Went Wrong");
  }

  };
  function BugFail(ide){
    newide = ide.replace('bugfail','');

    if (confirm("Do you want to Proceed with this action ?")){
      fetch(bug_url, {
        method: 'POST',
        headers: {
            'Content-type': 'application/json',
            'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({
          'review':"fail",
          "BugId":newide
        })
    
    
    }).then(response=>response.json()
    ).then(data=>console.log(data)).then(e=>location.reload())}
    else{
      console.log("Something Went Wrong");
    }
  };

</script>
            
            <script>
              var myUnixTimestamp;
          
              var myDate;
              var s ;
              var a ;
             
          
              </script>
             
      {% for i in  all_project_sprint %}
      
      <div
      id="modal{{i.id}}"
      style="
        width: 70vw;
        height: 85vh;
        {% comment %} background-color: #b9f7ed; {% endcomment %}
        backdrop-filter:blur(30px);
        position: fixed;
        z-index: 1;
        
        left: calc(calc(100vw - 70vw)/2);
        top: calc(calc(100vh - 85vh)/2);
        
        overflow-y: auto;
        border-radius: 20px;
      "
      class="hidden"
    >
    <p  id="close{{i.id}}" style="margin:1rem;color:red;font-size:3rem;text-align:right;cursor:pointer;font-weight:700;" onclick=closeModal(this.id) >&times;</p>
    <div style="width:60vw;margin:auto;">
      <b><p style="font-size:2rem;">Sprint Title:</p></b>
      <p>{{i.sprint_title}}</p>
      <br>
      <b><p style="font-size:2rem;">Sprint Detail:</p></b>
      <p>{{i.sprint_detail}}</p>
      <br>
      <b><p style="font-size:2rem;">Deadline Time: </p></b>
      <p id="time{{i.id}}"></p>
      <script>
       myUnixTimestamp = {{i.deadline_time}};
    
       myDate = new Date(myUnixTimestamp * 1000);
       s = "time"+{{i.id}};
       a = document.getElementById(s);
       console.log(myDate);
       
       a.innerHTML = `
        
          <p>${myDate}<p>
    `
        </script>
    </div>
    </div>
      {% endfor %}
    
    <script>
      {% comment %} var dict = {
      {% for i in all_project_sprint %}
      {{i.id}}:{
        'title':{{i.sprint_title}},
        'detail':{{i.sprint_detail}},
        'deadline':{{i.deadline_time}},
      },
      
      {% endfor %}
      }; {% endcomment %}
      
      {% comment %} console.log(dict); {% endcomment %}
              
    
    
        function showModal(ide){
          let va = "modal"+ide;
          let myModal = document.getElementById(va);
        myModal.classList.toggle("hidden");
        }
        function closeModal(ide){
          let x = document.getElementById(ide).parentElement.id;
          let myModal = document.getElementById(x);
          myModal.classList.toggle("hidden");
        }
              
    </script>

    {% for i in  all_project_bug %}
  
    <div
    id="modal{{i.id}}"
    style="
      width: 70vw;
      height: 85vh;
      {% comment %} background-color: #b9f7ed; {% endcomment %}
      backdrop-filter:blur(30px);
      position: fixed;
      z-index: 1;
      
      left: calc(calc(100vw - 70vw)/2);
      top: calc(calc(100vh - 85vh)/2);
      
      overflow-y: auto;
      border-radius: 20px;
    "
    class="hidden"
  >
  <p  id="close{{i.id}}" style="margin:1rem;color:red;font-size:3rem;text-align:right;cursor:pointer;font-weight:700;" onclick=closeModal(this.id) >&times;</p>
  <div style="width:60vw;margin:auto;">
    <b><p style="font-size:2rem;">Bug Title:</p></b>
    <p>{{i.bug_title}}</p>
    <br>
    <b><p style="font-size:2rem;">Bug Detail:</p></b>
    <p>{{i.bug_detail}}</p>
    <br>
    <b><p style="font-size:2rem;">Deadline Time: </p></b>
    <p id="time{{i.id}}"></p>
    <script>
     myUnixTimestamp = {{i.deadline_time}};
  
     myDate = new Date(myUnixTimestamp * 1000);
     s = "time"+{{i.id}};
     a = document.getElementById(s);
     console.log(myDate);
     
     a.innerHTML = `
      
        <p>${myDate}<p>
  `
      </script>
  </div>
  </div>
    {% endfor %}
  
  <script>
    {% comment %} var dict = {
    {% for i in all_project_sprint %}
    {{i.id}}:{
      'title':{{i.sprint_title}},
      'detail':{{i.sprint_detail}},
      'deadline':{{i.deadline_time}},
    },
    
    {% endfor %}
    }; {% endcomment %}
    var nm = "some";
    console.log(nm);
    {% comment %} console.log(dict); {% endcomment %}
            
  
  
  </script>

        {% comment %} <div class="list">
            {% comment %} <h2>List Item Hover Effect</h2> {% endcomment 
            <ul>
              <li style="display:flex;justify-content: space-between;"><span>Make the Navbar discussed project</span> <span class="mkdbutt" >Pass</span> </li>
              <li  style="display:flex;justify-content: space-between;"><span>Make the Hero section</span>  <span class="mkdbutt" >Pass</span> </li>
              <li  style="display:flex;justify-content: space-between;"><span>Center the div containing reviews</span>  <span class="mkdbutt" >Pass</span> </li> {% endcomment %}
              
              
            </ul>
          </div>
        </div>

    </div>
    
</div>
</div>
<script>

    {% comment %} riBox.scrollTop = 99999999; {% endcomment %}

    function myfunc(){
        console.log("helloooooo");
    }
</script>

{% endblock body%}