{% extends "base.html" %}
{% load static %}
{% block title %}
Sprint | DevMaster
{% endblock title %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/llm.css'%}" />

<style>
    .headi {
        /* background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
           */
        background: rgb(17, 0, 36);
        background: linear-gradient(90deg,
                rgba(17, 0, 36, 1) 0%,
                rgba(9, 38, 121, 1) 26%,
                rgba(0, 255, 171, 1) 100%);
        align-self: center;
        background-clip: border-box;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        text-align: center;

        font-size: 3.5rem;
        font-weight: bold;
        margin-top: 0px;
    }

    .page_heading {
        text-align: center;
    }
</style>
<style>
    .list {
        position: relative;
      }
      .list h2 {
        color: #000;
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 10px;
      }
      .list ul {
        position: relative;
      }
      .list ul li {
        position: relative;
        left: 0;
        color: #333;
        list-style: none;
        margin: 4px 0;
        border-left: 2px solid #002df5;
        transition: 0.5s;
        cursor: context-menu;
        padding-bottom:1rem;
      }
      .list ul li:hover {
        left: 10px;
      }
      .list ul li span {
        position: relative;
        padding: 8px;
        padding-left: 12px;
        display: inline-block;
        
        transition: 0.5s;
      }
 /*     .list ul li:hover span {
        color: #111;
      }
       .list ul li:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #6e88fc;
        transform: scaleX(0);
        transform-origin: left;
        transition: 0.5s;
      }
      .list ul li:hover:before {
        transform: scaleX(1);
      } */
</style>
<style>
    .mkdbutt{
        font-size: 1.2rem;
        background-color: rgb(166, 166, 250);
        
        border-radius: 10px;
    }
</style>
{% endblock head %}


{% block body %}

<div class="wholeConatiner">
    <div class="leftBox" >
        <div class="logo" style="text-align: center;background-color: #394647;background-color: #0567e7;border-bottom-left-radius: 35px;border-bottom-right-radius: 35px;">
            <a href="{% url 'home:dashboard' %}">
                <img src="{% static 'home/img/whitedevlogo.png'%}" width="200px" alt="logo"
                    style="margin-top:2.5rem;margin-bottom:1.5rem;" /></a>
        </div>
        <!-- <hr id="insiderHR"> -->

        <div class="menuList">
            <ul>
                <li><a href="{% url 'home:projects' iden %}"> Announcements</a></li>
                <li><a href="{% url 'home:chat' iden %}">Chat</a></li>
                <li><a href="{% url 'home:llm' iden %}">LLM</a></li>
                <li class="current"><a href="{% url 'home:sprint' iden %}">Sprint</a></li>
                <li><a href="{% url 'home:bug' iden %}">Bug</a></li>
                <li><a href="{% url 'home:review' iden %}">Review</a></li>
                <li><a href="{% url 'home:review' iden %}">Details</a></li>
                <li><a href="{% url 'home:dashboard' %}">All Projects</a></li>

            </ul>

        </div>
    </div>

    <div class="rightBox" >
      <div class="dashNav">
        <ul>
            <li style="padding-top:6px;text-align:right;">Hello {{username}} <span style="margin-left:2rem;margin-right:3rem;">
              <img src="{% static 'home/img/acc_cir.svg'%}" width="35px" alt="logo"
                style="position:fixed;cursor: pointer;"  onclick="profileSubmenu()"/></span></li>
            
        </ul>
        <div class="submenu hidden" id="profileSubmenu">
          <ul>
            <li class = "submenitem"><a href="{% url 'home:editProfile' %}">Edit Profile</a></li>
            <li class = "submenitem"><a href = "{% url 'home:logoutUser' %}">Logout</a></li>
          </ul>
        </div>
    </div>
    <script>
      const btnEl = document.getElementById("profileSubmenu");


      function profileSubmenu(){
        btnEl.classList.toggle("hidden")
        console.log("from submenu")
      }
    </script>
        <div class="projectName">
            <p class="page_heading"><span class="headi"> Auctioneer</span></p>
        </div>
        <div class="con" style="width:60vw;margin:auto;padding-top:0rem;">
          <div style="margin-bottom:2rem">
            <p><a href="{% url 'home:assignSprint' iden %}" style="text-decoration:none;"><span class="btn-grad">Assign Sprint</span></a></p>
            </div>

           


            {% for i in set_of_members %}
            <p>{{i}}:</p>
            <div class="list">
                <ul>
            {% for j in all_project_sprint %}
            {% if i == j.sprint_to %}
            {% comment %} <li style="display:flex;justify-content: space-between;"><span style = "width:80%;">{{j.sprint_title}}</span><a href="" style="color:white;text-decoration:none;"><span class="small-btn-grad" style="width:8vw;font-size:0.75rem;color:white;">Mark as done</span></a>
               {% comment %} <span class="mkdbutt" >Mark as Done</span>  {% endcomment 
              </li> {% endcomment %}
              {% if j.review == "PASS" %}
              <li style="background-color:#bbf7b9;display:flex;align-items: center;justify-content: center;" id="{{j.id}}" onclick="showModal(this.id)">
                <span style="display:flex;flex-direction:column;">
                  <span>{{j.sprint_title}}</span>
                  <span style="width:40vw;font-size:1rem;text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">{{j.sprint_detail}}
                  </span>
                </span>
                
                {% comment %} <span class="mkdbutt" >Mark as Done</span>  {% endcomment %}
               </li>
               {% elif j.review == "FAIL" %}
               <li style="background-color:#f7b9b9;display:flex;align-items: center;justify-content: center;" id="{{j.id}}" onclick="showModal(this.id)">
                <span style="display:flex;flex-direction:column;">
                  <span>{{j.sprint_title}}</span>
                  <span style="width:40vw;font-size:1rem;text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">{{j.sprint_detail}}
                  </span>
                </span>
                
                {% comment %} <span class="mkdbutt" >Mark as Done</span>  {% endcomment %}
               </li>
               {% elif j.submitted_time != "" %}
               <li style="background-color:#eceff7;display:flex;align-items: center;justify-content: center;" id="{{j.id}}" onclick="showModal(this.id)">
                <span style="display:flex;flex-direction:column;">
                  <span>{{j.sprint_title}}</span>
                  <span style="width:40vw;font-size:1rem;text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">{{j.sprint_detail}}
                  </span>
                </span>
                
                {% comment %} <span class="mkdbutt" >Mark as Done</span>  {% endcomment %}
               </li>
               {% else %}
               <li style="display:flex;align-items: center;justify-content: center;" id="{{j.id}}" onclick="showModal(this.id)">
                <span style="display:flex;flex-direction:column;">
                  <span>{{j.sprint_title}}</span>
                  <span style="width:40vw;font-size:1rem;text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">{{j.sprint_detail}}
                  </span>
                </span>
                
                {% comment %} <span class="mkdbutt" >Mark as Done</span>  {% endcomment %}
               </li>
               {% endif %}
            {% endif %}
            {% endfor %}
                </ul>
            </div>
            {% endfor %}


            {% comment %} <p>3testu:</p>
        <div class="list">
            {% comment %} <h2>List Item Hover Effect</h2> {% endcomment 
            <ul>
              <li style="display:flex;justify-content: space-between;"><span>Make the Navbar discussed project</span> <span class="mkdbutt" >Mark as Done</span> </li>
              <li  style="display:flex;justify-content: space-between;"><span>Make the Hero section</span>  <span class="mkdbutt" >Mark as Done</span> </li>
              <li  style="display:flex;justify-content: space-between;"><span>Center the div containing reviews</span>  <span class="mkdbutt" >Mark as Done</span> </li>
              <li  style="display:flex;justify-content: space-between;"><span>Make the Footer Section</span>  <span class="mkdbutt" >Mark as Done</span> </li>
              <li  style="display:flex;justify-content: space-between;"><span>Add the Google map location map api</span>  <span class="mkdbutt" >Mark as Done</span> </li> {% endcomment %}
              
            </ul>
          </div>
        </div>
        

         
  {% for i in  all_project_sprint %}
  
  <div
  id="modal{{i.id}}"
  style="
    width: 70vw;
    height: 85vh;
    {% comment %} background-color: #b9f7ed; {% endcomment %}
    backdrop-filter:blur(30px);
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: calc(calc(100vw - 70vw)/2);
    top: calc(calc(100vh - 85vh)/2);
    {% comment %} top:calc((100vh-85vh)/2vh); {% endcomment %}
    {% comment %} top:0px; {% endcomment %}
  
    {% comment %} transform: translate(-50%, -50%); {% endcomment %}
    margin: auto;
    overflow-y: auto;
    border-radius: 20px;
  "
  class="hidden"
>
<div style="width:60vw;margin:auto;">
  <b><p>Sprint Title:</p></b>
  <p>{{i.sprint_title}}</p>
  <br>
  <b><p>Sprint Detail:</p></b>
  <p>{{i.sprint_detail}}</p>
  <br>
  <b><p>Deadline Time: </p></b>
  <p>{{i.deadline_time}}
</div>
</div>
  {% endfor %}

<script>
  {% comment %} var dict = {
  {% for i in all_project_sprint %}
  {{i.id}}:{
    'title':{{i.sprint_title}},
    'detail':{{i.sprint_detail}},
    'deadline':{{i.deadline_time}},
  },
  
  {% endfor %}
  }; {% endcomment %}
  var nm = "some";
  console.log(nm);
  {% comment %} console.log(dict); {% endcomment %}
          


    function showModal(ide){
      let va = "modal"+ide;
      let myModal = document.getElementById(va);
    myModal.classList.toggle("hidden");
    }
          
</script>
    </div>
    
</div>
</div>
<script>

    {% comment %} riBox.scrollTop = 99999999; {% endcomment %}

    function myfunc(){
        console.log("helloooooo");
    }
</script>
<script>
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

var url = 'http://127.0.0.1:8000/sprint_done/';


function sprintAPI(clicked_id){
  console.log(clicked_id)
  fetch(url, {
    method: 'POST',
    headers: {
        'Content-type': 'application/json',
        'X-CSRFToken': csrftoken,
    },
    body: JSON.stringify({ 'clicked_id': clicked_id })


}
).then(function (response) {
     location.reload()
    console.log("doneeee")

})
} 




</script>
{% endblock body%}