{% extends "base.html" %}

{% block title %}
Project | DevMaster
{% endblock title %}




{% block body %}


<ul>
    <li>Dashboard</li>
    <li>Phase</li>
</ul>



<ul>
    <li>Announcements</li>
    <li><a href = "{% url 'home:chat' iden %}">Chat</a></li>
    <li><a href = "{% url 'home:llm' iden %}">LLM</a></li>
    <li><a href = "{% url 'home:sprint' iden %}">Sprint</a></li>
    <li><a href = "{% url 'home:bug' iden %}">Bug</a></li>
    <li><a href = "{% url 'home:review' iden %}">Review</a></li>
</ul>

<ul>
{% for i in anno %}
<li>i.ann_from i.announcement_msg</li>

{% endfor %}

</ul>


{% endblock body%}