<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | DevMaster</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body class="poppins-regular">
    <!-- Hero -->
    <div class="hero">
      <nav class="navbar">
        <div class="brand-title">
          <a href="index.html"
            ><img src="assets/logo.png" width="70px" alt="logo"
          /></a>
        </div>
        <a href="#" class="toggle-button">
          <span class="bar"> </span>
          <span class="bar"> </span>
          <span class="bar"> </span>
        </a>
        <div class="navbar-links">
          <ul>
            {% if usern == "notLoggedIn" %}
            <li><a href="{% url 'home:loginview' %}">Login</a></li>
            <li><a href="{% url 'home:signup' %}">Register</a></li>
            {% else %}
            <li><a href = "{% url 'home:dashboard'%}">Hello {{ usern }}</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <div>
        <p id="hero-heading">
          Orchestrating Software Success, from Start to Finish
        </p>
      </div>
    </div>
    <!-- Content -->
    <div class="content_container">
      <div class="content">
        <div class="im">
          <img src="tsimg.jpg" alt="" class="imgs" />
        </div>
        <div class="text" style="background-color: green">
          <p>Use LLM</p>
          <p>LLM can improve your productivity</p>
        </div>
      </div>

      <div class="content">
        <div class="text" style="background-color: green">
          <p>Use Chat</p>
          <p>Chat improve your productivity</p>
        </div>
        <div class="im">
          <img src="tsimg.jpg" alt="" class="imgs" />
        </div>
      </div>

      <div class="content">
        <div class="im">
          <img src="tsimg.jpg" alt="" class="imgs" />
        </div>
        <div class="text" style="background-color: green">
          <p>Assign Sprints</p>
          <p>Assign tasks</p>
        </div>
      </div>
    </div>




    <div class="footer">
        
        Unlock the full potential of your productivity
    </div>
  </body>
</html>
